.myguidetennet1 {
  margin: 0;
  position: absolute;
  top: 295px;
  left: calc(50% - 632px);
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 1215px;
  height: 77px;
}
.user-picture {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 43px;
  right: 60px;
  border-radius: var(--br-256xl);
  width: 100px;
  height: 100px;
  background-image: url(./public/pexelsthisisengineering386144711@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.tutorial-child1,
.tutorial-child2,
.tutorial-child3 {
  position: absolute;
  height: 37.25%;
  width: 77.69%;
  top: 16.79%;
  right: 11.16%;
  bottom: 45.96%;
  left: 11.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tutorial-child2,
.tutorial-child3 {
  height: 21.14%;
  width: 4.48%;
  top: 33.18%;
  right: 12.34%;
  bottom: 45.68%;
  left: 83.18%;
}
.tutorial-child3 {
  height: 33.64%;
  width: 50.31%;
  top: 41.51%;
  right: 24.84%;
  bottom: 24.84%;
  left: 24.84%;
}
.tutorial1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 65px;
  left: 1661px;
  width: 67px;
  height: 67px;
}
.tennet-logo-icon1 {
  position: absolute;
  top: 66px;
  left: 158px;
  width: 300px;
  height: 61.36px;
  object-fit: cover;
}
.functionality1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 41px;
}
.favorites-icon1 {
  position: absolute;
  top: 2.5px;
  left: -1.5px;
  width: 42px;
  height: 37px;
}
.favorite-button1 {
  position: absolute;
  top: 77px;
  left: 1590px;
  width: 39px;
  height: 41px;
  cursor: pointer;
}
.user-input {
  border: 1.2px solid #004594;
  font-weight: 600;
  font-family: var(--font-roboto);
  font-size: 18px;
  background-color: transparent;
  flex: 1;
  border-radius: 7.29px;
  box-sizing: border-box;
  height: 85px;
  display: flex;
  flex-direction: row;
  padding: 36.42857360839844px 48.57143020629883px;
  align-items: center;
  justify-content: flex-start;
  color: FFFFFF;
}
.search-text {
  position: relative;
  font-size: 21.86px;
  letter-spacing: 1.21px;
  line-height: 26.71px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.search-button {
  cursor: pointer;
  border: 0;
  padding: 29.14285659790039px 52.21428680419922px;
  background-color: #25ab75;
  border-radius: 12.14px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.search-button:hover {
  background-color: #188759;
}
.search-page,
.searchbar {
  background-color: var(--color-white);
}
.searchbar {
  position: absolute;
  top: 520px;
  left: 561px;
  width: 902.21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25.5px;
}
.search-page {
  position: relative;
  width: 100%;
  height: 2012px;
  overflow-x: auto;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 960px) {
  .user-input {
    flex: unset;
    align-self: stretch;
  }
  .search-button {
    width: 100%;
  }
  .searchbar {
    flex-direction: column;
  }
}

